name: flutter_bicubic_resize
description: Fast, consistent bicubic image resizing across iOS and Android using native C code with Catmull-Rom interpolation.
version: 1.0.0
homepage: https://github.com/erykkruk/flutter_bicubic_resize
repository: https://github.com/erykkruk/flutter_bicubic_resize
issue_tracker: https://github.com/erykkruk/flutter_bicubic_resize/issues

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
