name: flutter_bicubic_resize
description: Fastest image resize, crop and compress for Flutter. 3-4x faster than other libraries. Native C code, consistent results on iOS/Android.
version: 1.2.3
homepage: https://github.com/erykkruk/BICUBIC_FLUTTER
repository: https://github.com/erykkruk/BICUBIC_FLUTTER
issue_tracker: https://github.com/erykkruk/BICUBIC_FLUTTER/issues
documentation: https://github.com/erykkruk/BICUBIC_FLUTTER/blob/main/doc/api.md

topics:
  - image
  - resize
  - image-processing
  - compress
  - crop

funding:
  - https://codigee.com

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  flutter:
    sdk: flutter
  ffi: ^2.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  plugin:
    platforms:
      android:
        ffiPlugin: true
      ios:
        ffiPlugin: true
